{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{% set overrideHomepageContainer = "" %}
{% for content in container("Ceres::Homepage") if content.plugin != "Plenty" %}
    {% set overrideHomepageContainer = overrideHomepageContainer ~ content.result %}
{% endfor %}

{% if HomeContent is not defined %}
  {% set HomeContent = services.category.get(1424, lang) %}
{% endif %}

{% if startseitenIntroAktion is not defined %}
  {% set startseitenIntroAktion = services.category.get(1426, lang) %}
{% endif %}

{% if overrideHomepageContainer | trim is empty %}

    {% set lang = services.sessionStorage.getLang() %}

    {{ component( "Ceres::ItemList.Components.ItemList") }}
    {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
    {{ component( "Zisternenfilter::Basket.Components.AddToBasket" ) }}
    {{ component( "Ceres::ItemList.Components.ItemLazyImg" ) }}

    <div class="home container-max">
          {{ startseitenIntroAktion.details.first.description | raw }}
          <div id="shopAktion">
              {{ startseitenIntroAktion.details.first.description2 | raw }}
          </div>

          {{ HomeContent.details.first.description | raw }}
      <div class="row">
        <div class="col-xs-12 col-lg-6 bigCategoryLeft">
              <div>  {{ HomeContent.details.first.description2 | raw }}</div>
        </div>
        <div class="col-xs-12 col-lg-6 articleShow">
          <div class="row">
            {% set list = services.itemList.getItemList( 'tag_list', 3, null, 4).documents %}
            {% for items in list %}
                <div class="col-xs-12 col-sm-6 startArt">
                    {% include "Zisternenfilter::Category.Item.Partials.CategoryListStart" with { 'item': items } %}
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div id="sale">
        <a href="/angebote/" title="Sale / Angebote">Aus unserer Werbung - Sale / Angebote</a>
      </div>
      <div id="introText">
          {% include category_template( 1424, lang, 0 ) ignore missing %}
      </div>
  </div>
{% else %}
    {{ overrideHomepageContainer | raw }}
{% endif %}
